<div class="champions-dashboard" *ngIf="champions$ | async as champions">
  <ul class="champ-list d-flex">
    <li *ngFor="let champ of champions" class="champ-item" (click)="navigateToDetails(champ.id)">
      <div class="small-champion d-flex">
        <img [src]="champ.icon" />
        <span>{{ champ.name }}</span>
        <span>{{ champ.title }}</span>
      </div>
    </li>
  </ul>
</div>
